extends ../layout

block content
  .container
    .row
      .col-md-5
        form.form-horizontal(method="POST", action="/user/update")
          .modal-body
            .form-group
              label.col-sm-2.control-label 账号
              .col-sm-10
                input.form-control(type="text", id="SignUpUsername", name="user[username]", value="#{username}", readonly="true")
            .form-group
              label.col-sm-2.control-label 密码
              .col-sm-10
                input.form-control(type="password", id="SignUpPassword", name="user[password]")
            .form-group
              label.col-sm-2.control-label 地址
              .col-sm-10
                input.form-control(type="text", id="SignUpAddress", name="user[address]")
            .form-group
              label.col-sm-2.control-label 邮箱
              .col-sm-10
                input.form-control(type="text", id="SignUpEmail", name="user[email]")
          .modal-footer
            a.btn.btn-default(href="/user/info/" + username) 关闭
            button.btn.btn-success(type="submit") 提交

